<div class="row" style="padding-top:5px;">
<div class="col-lg-12">
<h3>D3 SVG Select Function</h3>
</div> <!-- end of col-lg-12 -->
</div> <!-- end of row -->

<div class="row" style="padding-top:30px;font-weight:500;" >
<div class="col-lg-12">
<ul>
  <li><a class="anchorList" href="#/simplepie">Simple Pie Chart</a></li>
  <li><a class="anchorList" href="#/threedpie">3D Pie Chart</a></li>
  <li><a class="anchorList" href="#/donut">Donut</a></li>
  <li><a class="anchorList" href="#/home">Open</a></li>
  <li><a class="anchorList" href="#/home">Open</a></li>
</ul>
</div> <!-- end of col-lg-12 -->  
</div> <!-- end of row -->

<div style="padding-bottom:50px;">&nbsp;</div>