<div class="row" style="padding-top:5px;">
<div class="col-lg-12">
<h2>Select Charting Function</h2>
</div> <!-- end of col-lg-12 -->
</div> <!-- end of row -->

<div id="selectList" style="padding-top:30px;font-weight:500;" >

<div class="row">
<div class="col-lg-12">
  <div style="padding:5px;"><a style="width:180px;" class="col-lg-2 btn btn-primary btn-lg active" role="button" href="#/simplepie">Simple Pie Chart</a></div>
</div> <!-- end of col-lg-12 -->  
</div> <!-- end of row -->  

<div class="row">
<div class="col-lg-12">
  <div style="padding:5px;"><a style="width:180px;" class="col-lg-2 btn btn-primary btn-lg active" role="button" href="#/donut">Donut</a></div>
  </div> <!-- end of col-lg-12 -->  
</div> <!-- end of row -->  

<div class="row">
<div class="col-lg-12">
  <div style="padding:5px;"><a style="width:180px;" class="col-lg-2 btn btn-primary btn-lg active" role="button" href="#/threetierdonut">3 Tier Donut Chart</a></div>
</div> <!-- end of col-lg-12 -->  
</div> <!-- end of row -->  

<div class="row">
<div class="col-lg-12">  
  <div style="padding:5px;"><a style="width:180px;" class="col-lg-2 btn btn-primary btn-lg active" role="button" href="#/home">Open</a></div>
</div> <!-- end of col-lg-12 -->  
</div> <!-- end of row -->

</div> <!-- end of select -->

<div style="padding-bottom:50px;">&nbsp;</div>